# ShopVerse Frontend Environment Variables

# Backend API Base URL
VITE_BACK_END_URL=http://localhost:8080

#Paypal Client id
VITE_PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID

# Stripe Payment Gateway API Keys
# Replace YOUR_STRIPE_PUBLISHABLE_KEY with your actual Stripe Publishable Key from https://dashboard.stripe.com/apikeys
VITE_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY